<div class="modal fade" id="logDetailModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Log Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-4">
                            <label for="EventName" class="form-label">Event Name</label>
                            <input type="text" class="form-control" id="EventName" readonly>
                            <input type="hidden" class="form-control" id="Id" readonly>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-4">
                            <label for="ServiceName" class="form-label">Service Name</label>
                            <input type="text" class="form-control" id="ServiceName" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="mb-4">
                            <label for="LogType" class="form-label">Type</label>
                            <input type="text" class="form-control" id="LogType" readonly>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-4">
                            <label for="LogType" class="form-label">Retry</label>
                            <input type="text" class="form-control" id="Retry" readonly>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-4">
                            <label for="LogType" class="form-label">CorrelationId</label>
                            <input type="text" class="form-control" id="CorrelationId" readonly>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-4">
                            <label for="PublishDate" class="form-label">Publish Date</label>
                            <input type="text" class="form-control" id="PublishDate" readonly>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-4">
                            <label for="ConsumeDate" class="form-label">Consume Date</label>
                            <input type="text" class="form-control" id="ConsumeDate" readonly>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-4">
                            <label for="CreatedOn" class="form-label">Log Create Date</label>
                            <input type="text" class="form-control" id="CreatedOn" readonly>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-4">
                            <label for="TotalDuration" class="form-label">Total Duration (ms)</label>
                            <input type="text" class="form-control" id="TotalDuration" readonly>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-4">
                            <label for="ConsumeDuration" class="form-label">Consume Duration (ms)</label>
                            <input type="text" class="form-control" id="ConsumeDuration" readonly>
                        </div>
                    </div>
                </div>
                
                <div class="border rounded p-3 mb-4">
                    <h6>Request</h6>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="mb-4">
                                <label for="Url" class="form-label">Url</label>
                                <pre class="code-preview"><code class="language-json" id="Url"></code></pre>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="mb-4">
                                <label for="Timeout" class="form-label">Timeout</label>
                                <pre class="code-preview"><code class="language-json" id="Timeout"></code></pre>
                            </div>
                        </div>
                    </div>
                    <div class="mb-0">
                        <label class="form-label">Body</label>
                        <pre class="code-preview"><code class="language-json" id="RequestBody"></code></pre>
                    </div>
                    <div class="mb-0">
                        <label class="form-label">Headers</label>
                        <pre class="code-preview"><code class="language-json" id="RequestHeaders"></code></pre>
                    </div>
                </div>
                <div class="border rounded p-3">
                    <h6>Response</h6>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-4">
                                <label for="IsSuccess" class="form-label">Is Success</label>
                                <input type="text" class="form-control" id="IsSuccess" readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-4">
                                <label for="StatusCode" class="form-label">Status Code</label>
                                <input type="text" class="form-control" id="StatusCode" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="Message" class="form-label">Message</label>
                        <input type="text" class="form-control" id="Message" readonly>
                    </div>
                    <div class="mb-0">
                        <label class="form-label">Content</label>
                        <pre class="code-preview"><code class="language-json" id="ResponseBody"></code></pre>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-copy-filter" title="Copy Filter" class="btn btn-sm btn-cs text-white" onclick="copyDetailLink()">
                    <i class="fa fa-link fa-fw"></i> Share
                </button>
                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>