@model EvenTransit.UI.Models.Logs.LogsViewModel

<div class="row">
    <div class="col">
        <div class="h-100 p-5 bg-light border rounded-3">
            <div class="row">
                <div class="col-4">
                    <label for="LogDateFrom" class="form-label">Log Date</label>
                    <div class="input-group">
                        <input type="text" id="LogDate" name="daterange" class="form-control"/>
                    </div>
                </div>
                <div class="col">
                    <label for="LogType" class="form-label">Log Type</label>
                    <select class="form-control" id="LogType" name="LogType">
                        <option value="0">Select...</option>
                        <option value="1">Success</option>
                        <option value="2">Fail</option>
                    </select>
                </div>
                <div class="col">
                    @Html.Label("EventName", "Event", new { @class = "form-label" })
                    @Html.DropDownList("EventName", Model.Events, "Select...", new { @class = "select2-container form-control select2me" })
                </div>
                <div class="col">
                    <label for="ServiceName" class="form-label">Service</label>
                    <select class="form-control" id="ServiceName" name="ServiceName">
                        <option value="">Select...</option>
                    </select>
                </div>
                <div class="col-1 d-flex">
                    <button type="button" class="btn btn-success align-self-end button" id="btnSearch" onclick="search()">
                        <span class="button__text">Search</span>

                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="alert alert-danger mb-0 mt-2 d-none" role="alert" id="errors">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>