<table class="table table-hover table-bordered table-striped mt-3" id="logs">
    <thead>
    <tr>
        <th class="index-column">#</th>
        <th>Event</th>
        <th>Service</th>
        <th>Type</th>
        <th>Created</th>
        <th class="index-column-2x"></th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

<nav class="float-end">
    <ul class="pagination" id="logs-pagination"></ul>
</nav>

@await Html.PartialAsync("Partials/_LogDetail")