@model EvenTransit.UI.Models.Logs.LogList
@{
    var index = 1;
}

<table class="table table-hover table-bordered table-striped mt-3">
    <thead>
    <tr>
        <th class="index-column">#</th>
        <th>Event</th>
        <th>Service</th>
        <th>Type</th>
    </tr>
    </thead>
    @if (Model.Items != null)
    {
        <tbody>
        @foreach (var log in Model.Items)
        {
            <tr>
                <td>@index</td>
                <td>@log.EventName</td>
                <td>@log.ServiceName</td>
                <td>@log.LogType.ToString()</td>
            </tr>
            index++;
        }
        </tbody>
    }
</table>

@await Html.PartialAsync("_Pagination", Model.TotalPages)