<table class="table table-hover table-bordered table-striped mt-3" id="logs">
    <thead>
        <tr>
            <th class="index-column">#</th>
            <th>Event</th>
            <th>Service</th>
            <th>Type</th>
            <th>Retry</th>
            <th>Event Published</th>
            <th>Log Created</th>
            <th class="index-column-2x">
                <button type="button" id="btn-copy-filter" title="Copy Filter" class="btn btn-sm btn-cs text-white" onclick="copySearchFilter()">
                    <i class="fa fa-link fa-fw"></i>
                </button>
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<nav class="float-end">
    <ul class="pagination" id="logs-pagination">
        <div class="select2-toggle" style=" display: none;">
            <select class="select2me" id="custom-page"></select>
        </div>
    </ul>
</nav>

@await Html.PartialAsync("Partials/_LogDetail")