@model EvenTransit.UI.Models.Logs.LogsViewModel
@{
    ViewData["Title"] = "Logs";
}

<div class="container pb-2 mb-2 border-bottom">
    <div class="row">
        <div class="col">
            <h2 class="mb-0">
                Logs
            </h2>
        </div>
    </div>
</div>

@await Html.PartialAsync("Partials/_LogsSearch")
@await Html.PartialAsync("Partials/_LogList")

@section Scripts
{
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/styles/atom-one-light.min.css">
    <link rel="stylesheet" href="~/lib/vanillajs-datepicker/css/datepicker.min.css"/>
    <link rel="stylesheet" href="~/lib/vanillajs-datepicker/css/datepicker-bs4.min.css"/>
    <script src="~/lib/vanillajs-datepicker/js/datepicker-full.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/highlight.min.js"></script>
    <script src="~/js/log/search.js" asp-append-version="true"></script>
    <script>
    const elem = document.querySelector('#LogDate');
    const datepicker = new DateRangePicker(elem, {}); 
    </script>
}