@using EvenTransit.UI.Models.Logs
@{
    ViewData["Title"] = "Logs";
}

<div class="container pb-2 mb-2 border-bottom">
    <div class="row">
        <div class="col">
            <h2 class="mb-0">
                Logs
            </h2>
        </div>
    </div>
</div>

@await Html.PartialAsync("Partials/_LogsSearch")
@await Html.PartialAsync("Partials/_LogList", new LogsViewModel())

@section Scripts
{
    <link rel="stylesheet" href="~/lib/vanillajs-datepicker/css/datepicker.min.css"/>
    <link rel="stylesheet" href="~/lib/vanillajs-datepicker/css/datepicker-bs4.min.css"/>
    <script src="~/lib/vanillajs-datepicker/js/datepicker-full.min.js"></script>
    <script>
    const elem = document.querySelector('#LogDate');
    const datepicker = new DateRangePicker(elem, {
      // ...options
    }); 
    </script>
}