@model List<EvenTransit.Core.Dto.UI.EventDto>
@{
    ViewData["Title"] = "Events";
    var index = 1;
}

<div class="container pb-2 mb-2 border-bottom">
    <div class="row">
        <div class="col">
            <h2 class="mb-0">
                Events
            </h2>
        </div>
        <div class="col">
            <button class="btn btn-sm btn-success float-end" data-bs-toggle="modal" data-bs-target="#newEventModal">
                <i class="fa fa-plus-circle"></i> Add New Event
            </button>
        </div>
    </div>
</div>

<table class="table table-hover table-bordered table-striped">
    <thead>
    <tr>
        <th class="text-center index-column">#</th>
        <th>Event Name</th>
        <th>Service Count</th>
        <th>Succeeded Jobs</th>
        <th>Failed Jobs</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var eventDto in Model)
    {
        <tr>
            <td class="text-center">@index</td>
            <td class="col-2">@eventDto.Name</td>
            <td class="col-2">
                <span class="badge rounded-pill bg-primary">100</span>
            </td>
            <td class="col-2">
                <span class="badge rounded-pill bg-success">1000</span>
            </td>
            <td class="col-2">
                <span class="badge rounded-pill bg-danger">10</span>
            </td>
            <td class="col-1 text-center">
                <a class="btn btn-sm btn-warning" title="Edit" href="@Url.Action("Detail", "Events", new {id = eventDto.Id})">
                    <i class="fa fa-edit fa-fw"></i>
                </a>
                <button type="button" class="btn btn-sm btn-danger delete-event" title="Delete" data-id="@eventDto.Id">
                    <i class="fa fa-times fa-fw"></i>
                </button>
            </td>
        </tr>

        index++;
    }
    </tbody>
</table>

@await Html.PartialAsync("Partials/_SaveEvent")

@section Scripts
{
    <script src="~/js/event/index.js" asp-append-version="true"></script>
}