@model EvenTransit.UI.Models.Home.DashboardViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col">
            <canvas id="jobStatistics" height="600"></canvas>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2/dist/chart.min.js"></script>

    <script>
    var ctx = document.getElementById('jobStatistics').getContext('2d');
    
    const labels = @Html.Raw(Model.Dates);
    
    const data = {
      labels: labels,
      datasets: [
        {
          label: 'Succeeded',
          data: @Html.Raw(Model.SuccessCount),
          borderColor: "rgb(25, 135, 84)",
          backgroundColor: "rgb(25, 135, 84, 0.5)",
        },
        {
          label: 'Failed',
          data: @Html.Raw(Model.FailCount),
          borderColor: "rgb(245, 71, 72)",
          backgroundColor: "rgba(245, 71, 72, 0.5)",
        }
      ]
    };
    
    const config = {
      type: 'line',
      data: data,
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            position: 'top',
          },
          title: {
            display: true,
            text: 'Job Statistics'
          }
        }
      },
    };
    
    var myChart = new Chart(ctx, config);
   
    </script>
}