@model int
<nav class="float-end">
    <ul class="pagination">
        <!-- TODO Fix pagination link -->
        @for (var i = 1; i <= Model; i++)
        {
            <li class="page-item"><a class="page-link" asp-route-Page="@i">@i</a></li>
        }
    </ul>
</nav>