@model EvenTransit.UI.Models.Events.EventViewModel

<form id="save-service">
    <div class="modal fade" id="newServiceModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New Service to <code>@Model.Name</code></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="EventName" class="form-label">Event Name</label>
                        <input type="text" class="form-control" id="EventName" value="@Model.Name" disabled="disabled">
                        <input type="hidden" name="EventId" value="@Model.Id">
                    </div>
                    <div class="mb-3">
                        <label for="ServiceName" class="form-label">Service Name</label>
                        <input type="text" class="form-control" id="ServiceName" name="ServiceName">
                    </div>
                    <div class="mb-3">
                        <label for="Url" class="form-label">Url</label>
                        <input type="text" class="form-control" id="Url" name="Url">
                    </div>
                    <div class="mb-3">
                        <label for="Timeout" class="form-label">Timeout</label>
                        <input type="number" class="form-control" id="Timeout" name="Timeout" min="0">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Headers</label>
                        <table class="table table-bordered table-hover" id="headers">
                            <thead>
                            <tr>
                                <th class="index-column text-center">
                                    <button type="button" class="btn btn-sm btn-success" id="add-header">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </th>
                                <th class="align-middle">Key</th>
                                <th class="align-middle">Value</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-sm btn-primary" id="save"><i class="fa fa-check-circle"></i> Save</button>
                </div>
            </div>
        </div>
    </div>
</form>
