<form id="save-event">
    <div class="modal fade" id="newEventModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New Event</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="EventName" class="form-label">Event Name</label>
                        <input type="text" class="form-control" id="EventName" name="EventName">
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="alert alert-danger mb-0 mt-2 d-none" role="alert" id="event-errors">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-sm btn-primary" id="save"><i class="fa fa-check-circle"></i> Save</button>
                </div>
            </div>
        </div>
    </div>
</form>